<div class="myForm">
    <div mat-dialog-title>
        <h1>Employee Form</h1>
      </div>
      <form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
        <div mat-dialog-content>
          <div>
            <!-- firstName -->
            <mat-form-field appearance="outline">
              <mat-label>Fisrt Name</mat-label>
              <input matInput type="text" formControlName="firstName" />
            </mat-form-field>
            <!-- lastName -->
            <mat-form-field appearance="outline">
              <mat-label>Lat Name</mat-label>
              <input matInput type="text" formControlName="lastName"/>
            </mat-form-field>
          </div>
          <div>
            <!-- email -->
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email" />
            </mat-form-field>
            <!-- DOB -->
            <mat-form-field appearance="outline">
              <mat-label>Choose DOB</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dob"/>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div>
            <!-- gender -->
            <mat-radio-group aria-label="Select an option"  formControlName="gender">
                <mat-label><b>Gender :</b></mat-label>
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
                <mat-radio-button value="other">Other</mat-radio-button>
              </mat-radio-group>            
          </div>
          <div>
            <!-- education -->
            <mat-form-field appearance="outline">
              <mat-label>Education</mat-label>
              <mat-select formControlName="education">
                <mat-option *ngFor="let edu of education" [value]="edu">
                  {{edu}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <!-- company -->
              <mat-label>Company</mat-label>
              <input matInput value="$" type="text" formControlName="company"/>
            </mat-form-field>
          </div>
          <div>
            <!-- experience -->
            <mat-form-field appearance="outline">
              <mat-label>Experience</mat-label>
              <input matInput type="text" formControlName="experience"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <!-- package -->
              <mat-label>Package</mat-label>
              <input matInput  type="number" value="L" formControlName="package"/>
            </mat-form-field>
          </div>
        </div>
        <div mat-dialog-actions class="actions">
          <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
          <button mat-raised-button color="primary" type="submit">{{data ? 'Update' : 'Save'}}</button>
        </div>
      </form>
      
</div>