.myForm{
    max-width: 700px;
}

.mat-dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  mat-form-field{
    width: 300px;
    margin-right: 10px;
    
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  

  mat-radio-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // padding: 0 10px;
  }

  mat-radio-group mat-label{
    margin-bottom:10px ;
    font-size: 15px;
  }
  
  .actions{
    padding: 0px 25px 20px;
    button{
      flex: 1;
    }
  }

  